<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
     <link rel="stylesheet" type="text/css" href="css/custom.css">
      <link rel="stylesheet" type="text/css" href="css/style.css">
      <link rel="stylesheet" type="text/css" href="css/gallery.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,300i,400,400i,500i,600,600i,700,700i,800&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/spotlight.bundle.js" type="text/javascript"></script> 
  </head>
  <body>
    <!--Start of Nav-->
    <!--End of Nav-->
    <!--Start of Contactus-->
    <!-- <section class="contactus">
     <div class="container"> 
       <div class="row">
         <div class="col-lg-6 mx-auto">
           <h3 class="hdStyle1">CONTACT US</h3>
           <div class="contactustext">
             <strong>Raj Bhavan, Odisha</strong>
             <p>Bhubaneswar, 751008</p>
             <ul class="contacticon">
               <li><i class="icon-Phone"></i><a href=""><span>Tel:</span>sfdsf</a></li>
               <li><i class="icon-Group-10"></i><a href=""><span>Fax:</span>sfsef</a></li>
               <li><i class="icon-Mail"></i><a href=""><span>Email:</span>sfsefd</a></li>

             </ul>
           </div>

           <div class="contactustext mt-4">
             <strong>Raj Bhavan, Puri</strong>
             <p>Puri, 751005</p>
             <ul class="puricontact">
               <li><a href=""><i class="icon-Facebook"></i></a></li>
               <li><a href=""><i class="icon-Instagram"></i></a></li>
               <li><a href=""><i class="icon-Twitter"></i></a></li>
               <li><a href=""><i class="icon-Twitter"></i></a></li>
               <li><a href=""><i class="icon-Twitter"></i></a></li>
             </ul>
           </div>
         </div>
         <div class="col-lg-6 mx-auto">
            <h3 class="hdStyle2">FEEDBACK</h3>
            <form>
  <div class="form-group">
    <label for="formGroupExampleInput">Example label</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Another label</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
  </div>
   <div class="form-group">
    <label for="formGroupExampleInput2">Another label</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
  </div>
   <div class="form-group">
    <label for="formGroupExampleInput2">Another label</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
  </div>
</form>
         </div>
       </div>

     </div>

   </section> -->
   <!--End of Contactus-->

<!-----Tab Begins here-->
<div class="galleryinner">
  <li class="nav-item dropdown inner-gallery">
    <a class="year nav-link dropdown-toggle" href="javascript:void(0);" title="Tender and Notification" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Years
    </a>
   <ul class="dropdown-menu mega-dropdown-menu row block-width" id="Ul2">
      <li>
        <ul class="nav nav-tabs justify-content-center" role="tablist">
          <li class="nav-item "> 
            <a class="nav-link active " data-toggle="tab" href="#gallery2019">2019</a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link" data-toggle="tab" href="#gallery2018">2018</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#gallery2017">2017</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#galleryGoBack">Go Back</a>
          </li>
      </ul>
    </li>
  </ul>
</li>

</div>





   <!----Gallery section begins here-->
  <div class="tab-content">
    <div id="gallery2019" class="container tab-pane active"><br>
            <div class="spotlight-group">           
                    <a class="spotlight" href="images/photo1.jpg">  
                        <img src="images/photo1.jpg" alt="Singapore trip Photo" class="photo">
                        <p class="text">Education ebales a person to move from egocentrism to geocentrism said honorable Governor in his inaguaral address at the centenary.. </p>                            
                    </a>
                    <a class="spotlight" href="images/photo2.jpg">
                        <img src="images/photo2.jpg" alt="Singpore trip Photo" class="photo">
                        <p class="text">Indian Soliders are epitome of bravery, sacrifice and patriotism, said Hon'ble Governor while addressing War Veteran's Day function at 120 infantry.. </p>   
                    </a> 
                    <a class="spotlight" href="images/photo3.jpg">  
                        <img src="images/photo3.jpg" alt="Singapore trip Photo"  class="photo">
                        <p class="text">Innovation coupled with inner evolution is call of the time, said Hon'ble Governor. He was speaking in the inauguration of 75th year..</p>   
                    </a>
                    <a class="spotlight" href="images/photo4.jpg" >
                      <img src="images/photo4.jpg" alt="Singapore trip Photo" class="photo">
                      <p class="text">Education ebales a person to move from egocentrism to geocentrism said honorable Governor in his inaguaral address at the centenary </p>  
                  </a>
                  <a class="spotlight" href="images/photo5.jpg">
                    <!-- <i class="fa fa-search" aria-hidden="true"></i>  -->
                    <img src="images/photo5.jpg" alt="Singapore Trip Photo" class="photo">
                    <p class="text">All of us is the integral part of the universe and have the divinity inside us. Discover the divinity in you, urged Hon'ble Governor while addressing..</p>
                </a> 
                <a class="spotlight" href="images/photo6.jpg">
                  <!-- <i class="fa fa-search" aria-hidden="true"></i>  -->
                  <img src="images/photo6.jpg" alt="Singapore trip photo" class="photo">
                  <p class="text">"Girl are not born , but are incarnate" said Hon'ble Governor while inaugurating the International Youth Con. on "21st century women's issue..." </p> 
              </a> 
                 </div>
            <div class="clearfix"></div>
    </div>
    <div id="gallery2018" class="container tab-pane"><br>
            <div class="spotlight-group">           
                    <a class="spotlight" href="images/photo2.jpg"> 
                        <img src="images/photo2.jpg" alt="Singpore trip Photo" class="photo">
                        <p class="text">Education ebales a person to move from egocentrism to geocentrism said honorable Governor in his inaguaral address at the centenary </p>   
                    </a> 
                    <a class="spotlight" href="images/photo1.jpg">
                        
                        <img src="images/photo1.jpg" alt="Singapore trip Photo" class="photo">
                        <p class="text">Education ebales a person to move from egocentrism to geocentrism said honorable Governor in his inaguaral address at the centenary </p>                            
                    </a>
                    <a class="spotlight" href="images/photo3.jpg">
                       
                        <img src="images/photo3.jpg" alt="Singapore trip Photo"  class="photo">
                        <p class="text">Education ebales a person to move from egocentrism to geocentrism said honorable Governor in his inaguaral address at the centenary </p>   
                    </a>
                    
                    <a class="spotlight" href="images/photo4.jpg" >
                   
                      <img src="images/photo4.jpg" alt="Singapore trip Photo" class="photo">
                      <p class="text">Education ebales a person to move from egocentrism to geocentrism said honorable Governor in his inaguaral address at the centenary </p>  
                  </a>

                  <a class="spotlight" href="images/photo5.jpg">
                    <!-- <i class="fa fa-search" aria-hidden="true"></i>  -->
                    <img src="images/photo5.jpg" alt="Singapore Trip Photo" class="photo">
                    <p class="text">Education ebales a person to move from egocentrism to geocentrism said honorable Governor in his inaguaral address at the centenary </p>
                </a> 

                <a class="spotlight" href="images/photo6.jpg">
                  <!-- <i class="fa fa-search" aria-hidden="true"></i>  -->
                  <img src="images/photo6.jpg" alt="Singapore trip photo" class="photo">
                  <p class="text">Education ebales a person to move from egocentrism to geocentrism said honorable Governor in his inaguaral address at the centenary </p>
              </a>

                 </div>
            <div class="clearfix"></div>
    </div>

     <div id="gallery2017" class="container tab-pane"><br>
            <div class="spotlight-group">           
                    <a class="spotlight" href="images/photo1.jpg">
                        
                        <img src="images/photo1.jpg" alt="Singapore trip Photo" class="photo">
                        <p class="text">Education ebales a person to move from egocentrism to geocentrism said honorable Governor in his inaguaral address at the centenary </p>                            
                    </a>

                    <a class="spotlight" href="images/photo2.jpg">
                       
                        <img src="images/photo2.jpg" alt="Singpore trip Photo" class="photo">
                        <p class="text">Education ebales a person to move from egocentrism to geocentrism said honorable Governor in his inaguaral address at the centenary </p>   
                    </a> 

                    <a class="spotlight" href="images/photo3.jpg">
                       
                        <img src="images/photo3.jpg" alt="Singapore trip Photo"  class="photo">
                        <p class="text">Education ebales a person to move from egocentrism to geocentrism said honorable Governor in his inaguaral address at the centenary </p>   
                    </a>
                    
                    <a class="spotlight" href="images/photo4.jpg" >
                   
                      <img src="images/photo4.jpg" alt="Singapore trip Photo" class="photo">
                      <p class="text">Education ebales a person to move from egocentrism to geocentrism said honorable Governor in his inaguaral address at the centenary </p>  
                  </a>

                  <a class="spotlight" href="images/photo5.jpg">
                    <!-- <i class="fa fa-search" aria-hidden="true"></i>  -->
                    <img src="images/photo5.jpg" alt="Singapore Trip Photo" class="photo">
                    <p class="text">Education ebales a person to move from egocentrism to geocentrism said honorable Governor in his inaguaral address at the centenary </p>
                </a> 

                <a class="spotlight" href="images/photo6.jpg">
                  <!-- <i class="fa fa-search" aria-hidden="true"></i>  -->
                  <img src="images/photo6.jpg" alt="Singapore trip photo" class="photo">
                  <p class="text">Education ebales a person to move from egocentrism to geocentrism said honorable Governor in his inaguaral address at the centenary </p>
              </a>

                 </div>
            <div class="clearfix"></div>
    </div>
    <div id="galleryGoBack" class="container tab-pane"><br>
            <div class="spotlight-group">           
              <a class="spotlight" href="images/photo2.jpg">         
                <img src="images/photo2.jpg" alt="Singpore trip Photo" class="photo">
                  <p class="text">Education ebales a person to move from egocentrism to geocentrism said honorable Governor in his inaguaral address at the centenary </p>   
              </a> 
              <a class="spotlight" href="images/photo1.jpg">  
                <img src="images/photo1.jpg" alt="Singapore trip Photo" class="photo">
                <p class="text">Education ebales a person to move from egocentrism to geocentrism said honorable Governor in his inaguaral address at the centenary </p>                            
              </a>
              <a class="spotlight" href="images/photo3.jpg">
                <img src="images/photo3.jpg" alt="Singapore trip Photo"  class="photo">
                        <p class="text">Education ebales a person to move from egocentrism to geocentrism said honorable Governor in his inaguaral address at the centenary </p>   
                    </a>
                    
                    <a class="spotlight" href="images/photo4.jpg" >
                   
                      <img src="images/photo4.jpg" alt="Singapore trip Photo" class="photo">
                      <p class="text">Education ebales a person to move from egocentrism to geocentrism said honorable Governor in his inaguaral address at the centenary </p>  
                  </a>

                  <a class="spotlight" href="images/photo5.jpg">
                    <!-- <i class="fa fa-search" aria-hidden="true"></i>  -->
                    <img src="images/photo5.jpg" alt="Singapore Trip Photo" class="photo">
                    <p class="text">Education ebales a person to move from egocentrism to geocentrism said honorable Governor in his inaguaral address at the centenary </p>
                </a> 

                <a class="spotlight" href="images/photo6.jpg">
                  <!-- <i class="fa fa-search" aria-hidden="true"></i>  -->
                  <img src="images/photo6.jpg" alt="Singapore trip photo" class="photo">
                  <p class="text">Education ebales a person to move from egocentrism to geocentrism said honorable Governor in his inaguaral address at the centenary </p>
              </a>
                 </div>
            <div class="clearfix"></div>
    </div>

</div>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center m-sm-4">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1"> << Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next >></a>
      </li>
    </ul>
  </nav>


   <!---Gallery section ends here--->

   
   <!--Start of Footer-->

<footer class="page-footer font-small mdb-color pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div>
     <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">SITE MAP</h6>

        <ul class="footerlink">
          <li><a href="javascript:void(0)">Governor</a></li>
          <li><a href="javascript:void(0)">His Excellency the Governor</a></li>
          <li><a href="javascript:void(0)">Our Governors</a></li>
          <li><a href="javascript:void(0)">Role of Governor</a></li>
          <li><a href="javascript:void(0)">Select Speeches</a></li>
          <li><a href="javascript:void(0)">Photo Gallery</a></li>
          <li><a href="javascript:void(0)">Tenders</a></li>
        </ul>     
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-5 font-weight-bold"></h6>
       <ul class="footerlink">
           <li><a href="javascript:void(0)">Raj Bhavan</a></li>
          <li><a href="javascript:void(0)">Inside Raj Bhavan</a></li>
          <li><a href="javascript:void(0)">Raj Bhavan Garden</a></li>
          <li><a href="javascript:void(0)">History</a></li>
          <li><a href="javascript:void(0)">Raj Bhavan Puri</a></li>
          <li><a href="javascript:void(0)">Organisation</a></li>
          <li><a href="javascript:void(0)">Secretary</a></li>
        </ul>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
        <ul class="footerlink">
         <li><a href="javascript:void(0)">President of India</a></li>
          <li><a href="javascript:void(0)">Rajbhawan UttaraKhand</a></li>
          <li><a href="javascript:void(0)">Raj bhavan Gujarat</a></li>
          <li><a href="javascript:void(0)">Raj Bhavan Jharkhand</a></li>
          <li><a href="javascript:void(0)">Raj Bhavan Maharashtra</a></li>
          <li><a href="javascript:void(0)">odisha.gov.in</a></li>
       
         
        </ul>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">CONNECT WITH US</h6>
        <ul class="socialcontact">
          <li><a href=""><i class="icon-Twitter"></i></a></li>
          <li><a href=""><i class="icon-Twitter"></i></a></li>
          <li><a href=""><i class="icon-Twitter"></i></a></li>
          <li><a href=""><i class="icon-Twitter"></i></a></li>
          <li><a href=""><i class="icon-V"></i></a></li>
        </ul>
        <a class="mt-5 btnsrtyle1">RAJ BHAVAN PROGRAM MANAGEMENT</a>
      </div>
      <!-- Grid column -->

    </div></div>
   
    <!-- Footer links -->

   


  </div>
  <!-- Footer Links -->

</footer>

   
    <section class="copy_right"> 
      <div class="container">
     <div class="row d-flex align-items-center">

      <div class="col-md-7 col-lg-7">

        <!--Copyright-->
        <p class="text-center text-md-left">Copyright © 2011 - All Rights Reserved - Raj Bhavan, Odisha | 
          <a href="javascript:void(0)" class="text-dark">
            Terms of use
          </a>
        </p>

      </div>
    

      <div class="col-md-5 col-lg-5 ml-lg-0">

        <div class="text-center text-md-right">
          <p>The website is designed & developed by NIC, Odisha</p>
        </div>

      </div>

    </div>
    </div>
  </section>
   <!--End of Footer-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>